<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}    </p>
</div>

<article class="about">
    <h2>sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit, velit at mollis porttitor, quam lectus suscipit sem, eu pellentesque nibh neque ac neque. Nunc eu molestie purus. Suspendisse potenti. Nunc aliquam mi ligula, a convallis lectus convallis sit amet. Integer tincidunt nisl tincidunt, semper lacus nec, rutrum nisl. Sed dapibus lacus at massa aliquam, sit amet cursus neque bibendum. Ut fermentum in felis et consequat.
    </p>
    <p>
        Maecenas congue elit ut leo pretium maximus. Fusce eu magna venenatis, pellentesque tortor vel, bibendum massa. In viverra, elit id tempus hendrerit, eros urna placerat tellus, et feugiat sem justo sed ante. Sed a nibh libero. Maecenas interdum rutrum elit at pellentesque. Maecenas ac libero convallis, ullamcorper erat vel, interdum mauris. Phasellus quis eleifend urna, id pellentesque justo. Integer lorem tortor, aliquam et tortor at, faucibus interdum orci. Curabitur ac diam ac dui ornare rutrum. Suspendisse potenti. Nunc sagittis nulla sit amet ultricies congue. Phasellus quis tristique justo, convallis rhoncus velit. Donec sit amet eleifend erat, viverra maximus dolor. Aliquam pharetra laoreet lectus eget scelerisque.
    </p>
</article>